
/01_ToolVersions/01_input/GrypeVersions.txt
/01_ToolVersions/01_input/TrivyVersions.txt
/01_ToolVersions/04_product/Grype/
/01_ToolVersions/04_product/Trivy/
/02_DataAcquisition/04_product/Grype/
/02_DataAcquisition/04_product/Trivy/
/02_DataAcquisition/01_input/Grype/
/02_DataAcquisition/01_input/Trivy/
/03_Processing/04_product/Grype/
/03_Processing/04_product/Trivy/
/03_Processing/01_input/Grype/
/03_Processing/01_input/Trivy/
/03_Processing/03_incremental/